In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
import re
warnings.filterwarnings('ignore')

In [2]:
dataset = pd.read_csv('output_train.csv')

In [3]:
dataset.head(5)

,Unnamed: 0,id,title,author,text,label
0,0,0,House Dem Aide: We Didnât Even See Comeyâs...,Darrell Lucus,House Dem Aide: We Didnât Even See Comeyâs...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [7]:
print(dataset.isna().sum())

Unnamed: 0       0
id               0
title          558
author        1957
text           133
label            0
dtype: int64

In [8]:
dataset['title'].replace(' ', np.nan, inplace=True)
dataset['text'].replace(' ', np.nan, inplace=True)

In [9]:
print(dataset.isna().sum())

Unnamed: 0       0
id               0
title          558
author        1957
text           208
label            0
dtype: int64

In [10]:
#Drop Columns 
dataset.drop(['id'], axis=1, inplace=True)

dataset.drop(dataset.columns[dataset.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)

In [11]:
#Deleting rows with no title and content
dataset = dataset[dataset.title.notnull()]
print(dataset.shape)
dataset = dataset[dataset.text.notnull()]
print(dataset.shape)

(20242, 4)
(20035, 4)

In [12]:
#Replace null authors with Anonymous
dataset["author"].fillna("Anonymous", inplace = True) 
print(dataset.shape)

(20035, 4)

In [38]:
print(dataset.isna().sum())

title     0
author    0
text      0
label     0
dtype: int64

In [13]:
re.sub(r'[^a-zA-Z ]+', ' ', 'happy t00 go 129.129')
dataset['news_title'] = dataset['title'].map(lambda x: re.sub(r'[^a-zA-Z0-9]+', ' ', x))

In [14]:
dataset.to_csv("cleaned_fake_new.csv")